html body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
  color: #3e3e3e;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 768px) {
    html body {
      padding: 0; } }

h3 {
  font-size: 28px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 60px; }

.btn-default {
  width: 130px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  transition: .3s linear; }
  .btn-default:hover {
    background-color: black;
    color: white; }

@media screen and (max-width: 768px) {
  .container {
    width: 100%; } }

.logo {
  max-width: 105px; }

.navbar {
  min-height: 100px; }
  .navbar .navbar-brand img {
    margin-top: 7px;
    margin-left: 35px; }

.navbar-default {
  background-color: white;
  border-style: none; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white; }
  .navbar-default .navbar-nav li a:hover {
    color: #4dc47d; }
  .navbar-default .navbar-nav li a:focus {
    color: #4dc47d; }

.navbar-default .navbar-toggle {
  background-color: #4dc47d;
  border-color: transparent; }
  .navbar-default .navbar-toggle:hover {
    background-color: #4dc47d; }
  .navbar-default .navbar-toggle:focus {
    background-color: #4dc47d; }

@media screen and (max-width: 767px) {
  .navbar-collapse {
    border-style: none;
    border-bottom: solid 4px #e7e7e7; } }

.navbar-right {
  margin-top: 40px;
  margin-right: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3e3e3e; }
  @media screen and (max-width: 767px) {
    .navbar-right {
      font-size: 20px;
      margin-right: 0;
      margin-bottom: 150px;
      margin: 50px 0px;
      text-align: center; } }

@media screen and (max-width: 768px) {
  .navbar-toggle {
    margin-right: 35px;
    margin-top: 38px; } }

.jumptarget::before {
  content: "";
  display: block;
  height: 90px;
  /* fixed header height*/
  margin: -90px 0 0;
  /* negative fixed header height */ }

.cover {
  height: 1000px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 33%, #ebebf2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 33%, #ebebf2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 33%, #ebebf2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebf2',GradientType=0 );
  /* IE6-9 */ }
  @media screen and (max-width: 400px) {
    .cover {
      height: 620px; } }

.main-content {
  padding-top: 120px;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 400px) {
    .main-content {
      padding-top: 80px; } }
  .main-content .main-title {
    font-size: 50px;
    max-width: 640px;
    font-weight: 100;
    display: inline-block;
    margin-bottom: 50px; }
    @media screen and (max-width: 400px) {
      .main-content .main-title {
        font-size: 25px;
        margin-top: 30px;
        max-width: 300px; } }
  .main-content .flex-center {
    display: flex;
    justify-content: center; }
  .main-content .main-img {
    display: inline-block; }

.snippet-product {
  margin-bottom: 50px; }
  .snippet-product .product-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px; }

.colors-combo {
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }

.color-circle {
  border-radius: 100%;
  height: 25px;
  width: 25px;
  margin: 2px;
  transition: 0.2s linear; }
  .color-circle:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */ }

.color1 {
  background-color: #999999; }

.color2 {
  background-color: #ffd82e; }

.color3 {
  background-color: #e6e6e6; }

.color4 {
  background-color: #edc7df; }

.color5 {
  background-color: #000000; }

.color6 {
  background-color: #ff603a; }

.color7 {
  background-color: #c4f8fb; }

.color8 {
  background-color: #f19d3b; }

.color9 {
  background-color: #002a49; }

.color10 {
  background-color: #8cc63f; }

.image-container {
  position: relative;
  max-width: 100%; }
  .image-container:hover .overlay {
    opacity: 1; }
  .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 62, 62, 0.5);
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s linear; }

.nosotros {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 33%, #ebebf2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 33%, #ebebf2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 33%, #ebebf2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebf2',GradientType=0 );
  /* IE6-9 */ }
  .nosotros h5 {
    font-size: 30px;
    font-weight: 900; }
    @media screen and (max-width: 991px) {
      .nosotros h5 {
        text-align: center; } }
  .nosotros p {
    font-size: 18px; }
    @media screen and (max-width: 991px) {
      .nosotros p {
        text-align: center;
        margin-right: 30px;
        margin-left: 30px; } }

.imagen-nosotros {
  padding-left: 0; }
  @media screen and (max-width: 768px) {
    .imagen-nosotros {
      margin-right: 0;
      padding-right: 0;
      margin-bottom: 30px; } }

.credenciales i {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #4dc47d;
  transition: all 0.3s linear; }
  .credenciales i:hover {
    transform: scale(1.2); }
.credenciales p {
  padding-right: 50px;
  padding-left: 50px;
  font-size: 16px; }

.footer {
  border-top: 1px #e6e6e6 solid;
  padding-top: 30px;
  margin-top: 80px; }
  @media screen and (max-width: 768px) {
    .footer {
      margin-bottom: 60px; } }
  .footer i {
    color: white;
    font-size: 20px;
    transition: all 0.5s linear; }
  .footer a {
    text-decoration: none; }
  .footer .combo-social {
    display: flex;
    justify-content: center; }
  .footer .circle {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: 4px;
    background-color: #3e3e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear; }
    .footer .circle:hover {
      background-color: #4dc47d; }
      .footer .circle:hover i {
        transform: scale(1.2); }

.product-section {
  padding-top: 120px; }
  .product-section h5 {
    font-size: 30px;
    font-weight: 900; }
  .product-section p {
    font-size: 16px; }
  .product-section h4 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px; }
  .product-section .colors-combo {
    justify-content: flex-start;
    margin-left: -2px; }

@media screen and (max-width: 768px) {
  .product-detail-description {
    text-align: center; }
    .product-detail-description .colors-combo {
      justify-content: center; }
    .product-detail-description .btn-default {
      width: 70%; } }

/*# sourceMappingURL=styles.css.map */
